# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/algozen

# Clerk
CLERK_SECRET_KEY=sk_test_xxxx
CLERK_WEBHOOK_SECRET=whsec_xxxx

# Judge0 (self-hosted on DigitalOcean)
JUDGE0_URL=http://<your-droplet-ip>:2358
JUDGE0_AUTH_TOKEN=your_token

# Groq AI
GROQ_API_KEY=gsk_xxxx

# Client
CLIENT_URL=http://localhost:5173

# Admin
ADMIN_SECRET=your_admin_secret_key
